h1
{
    font-weight:bold;
    text-align:center;
    color:darkblue;
    padding:0;
    margin:0;
}

body
{
    background-color:rgb(231, 200, 149);
}

.one
{
    width:600px;
    height:400px;
    padding:30px;
    margin-left:1cm;
    border-radius: 300px;
}
table
{
    font-size: large;
    font-weight:bold;
    text-align:center;
}

img
{
    animation: scaleUpDown 15s ease-in-out infinite;
}

@keyframes scaleUpDown {
    0%, 100% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.1);
    }
    25% {
      transform: scale(1.1);
    }
  }

