.navbar-nav
{
    font-size:20px;
    font-weight:bold;
}
.custom-bg {
    background-color:rgb(230, 173, 132); /* Example color */
}
img
{
    border-radius: 30px;
    transition: transform 0.5s ease;
}
h3
{
    font-weight:bold;
    text-align:center;
}

img:hover {
    transform: scale(1.1);
}

img:not(:hover) {
    transform: scale(1);
}
