h1
{
    font-weight:bold;
    text-align:center;
    color:darkblue;
    padding:0;
    margin:0;
}

img
{
    width:500px;
    height:300px;
    border-radius: 300px;
    padding:30px;
    margin:1cm;
}

.T
{
    text-align:center;
    font-weight:bold;
    font-size:40px;
    color:darkgreen;

}
.P
{
    text-align:center;
    font-weight:bold;
    font-size:40px;
    color:darkgreen;
}
p
{
    text-align:center;
    font-weight:bold;
    font-size:40px;
    color:darkcyan;
}
body
{
    background-color:rgb(233, 213, 182);
}